.container.developer {
  z-index: 999999;
}
.container.developer button.toggle {
  position: fixed;
  z-index: 99999;
  top: 10px;
  right: -2px;
}
.container.developer .row {
  position: fixed;
  width: 1170px;
}
.container.developer .row .col-md-1 {
  width: 8.333333333333332%;
  min-height: 800px;
  background: rgba(2, 48, 89, 0.1);
  border: 1px dotted #3276b1;
}
